<% ratio =  @completed.to_f/@total*100 %>

<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: <%=ratio%>%" aria-valuenow="<%=ratio%>" aria-valuemin="0" aria-valuemax="100"><%= @completed %> / <%= @total %></div>
</div>
<p style="padding-top: 2%"><%= t(:listen_label) %></p>
<audio src=<%= @song.url %> controls></audio>

<%= simple_form_for @song, url: song_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :recognized, as: :radio_buttons, label: t(:recognized_label), id:'inputrecognized'  %>
  <p><%= t(:recognize_text_label) %> </p>
  <%= f.input :recognize_text, as: :text, label: false  %>
  <%= f.input :rating, as: :radio_buttons, collection: {t(:yes_label) => 0, t(:somewhat_label) => 1, t(:no_label)=> 2}, label: t(:rating_label)  %>
  <p><%= t(:memory_description_label) %> </p>
  <%= f.input :memory_description, as: :text, label: false  %>
  <p><%= t(:additional_label) %> </p>
  <%= f.input :additional_description, as: :text, label: false %>


  <div class="centered-container"><%= f.button :submit, t(:next_label), class: "btn-primary" %></div>
<% end %>
